# GLOBAL
PORT=4000

# CHESS
CHESS_USERNAME=Antoine_rat
REFRESH_MINUTES=10

# F1
F1_SEASON=2026
F1_REFRESH_MINUTES=60

# VALORANT
VAL_REGION=eu
VAL_NAME=26DansLeFroc
VAL_TAG=FRR
VAL_REFRESH_MINUTES=10
HENRIK_API_KEY=HDEV-e9a3cc6c-53b0-4b66-b45f-ed994b305127

# CLASH ROYALE
CR_TAG=2G90RCLL8   # Le tag ne doit pas contenir le #, il est ajouté automatiquement dans le code
CR_API_KEY=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiIsImtpZCI6IjI4YTMxOGY3LTAwMDAtYTFlYi03ZmExLTJjNzQzM2M2Y2NhNSJ9.eyJpc3MiOiJzdXBlcmNlbGwiLCJhdWQiOiJzdXBlcmNlbGw6Z2FtZWFwaSIsImp0aSI6IjZhZTZjYTc1LTMyZGEtNDMzZS04OTljLTcxMzdjNjM5MTRiYSIsImlhdCI6MTc3MjY1MzgxOCwic3ViIjoiZGV2ZWxvcGVyLzJhNmFmYjc1LTFhNzctYzJkYy01MmU0LTdkM2NmNjBlNjgyZCIsInNjb3BlcyI6WyJyb3lhbGUiXSwibGltaXRzIjpbeyJ0aWVyIjoiZGV2ZWxvcGVyL3NpbHZlciIsInR5cGUiOiJ0aHJvdHRsaW5nIn0seyJjaWRycyI6WyI4MS4yNTUuNjcuMjgiLCI5NC4yMzEuNDEuOTQiXSwidHlwZSI6ImNsaWVudCJ9XX0.e7PpUDdx2v25xNXDnTd-XbQz_6TPlW010-IXPeFp8z12T_Ju-NCs5tlzL-k4V4jrU4NqzY6Y-hM_mibIbxwhxQ
CR_REFRESH_MINUTES=10

# STEAM
STEAM_ID=76561198850511125
STEAM_API_KEY=A30D2DFC71844A54F4C39C25D6EB9E6C
STEAM_REFRESH_MINUTES=60

# CLASH OF CLANS
COC_PLAYER_TAG="#PP9YQ0PU9"
COC_API_TOKEN=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiIsImtpZCI6IjI4YTMxOGY3LTAwMDAtYTFlYi03ZmExLTJjNzQzM2M2Y2NhNSJ9.eyJpc3MiOiJzdXBlcmNlbGwiLCJhdWQiOiJzdXBlcmNlbGw6Z2FtZWFwaSIsImp0aSI6IjRjNzFiMzVlLTY3OTUtNDYzNS05ZDI5LTkxZTM5MzIxYzFlMyIsImlhdCI6MTc3MjczMzY4NSwic3ViIjoiZGV2ZWxvcGVyLzgzM2QyZjkyLTc1NWEtNTkwNS01NjRlLWI2MWE5YjE3Y2JlMyIsInNjb3BlcyI6WyJjbGFzaCJdLCJsaW1pdHMiOlt7InRpZXIiOiJkZXZlbG9wZXIvc2lsdmVyIiwidHlwZSI6InRocm90dGxpbmcifSx7ImNpZHJzIjpbIjgxLjI1NS42Ny4yOCIsIjk0LjIzMS40MS45NCJdLCJ0eXBlIjoiY2xpZW50In1dfQ.iB19T9HtAO3q5mGgxGWBHlIgiVUdm7S-p6wigaGdyfhmppWZy_DL8h7g4E5rDk2M3QvtqTVtI42_l3i6UtmNjA
COC_REFRESH_MINUTES=10

# 
COC_PLAYER_TAG="#PP9YQ0PU9"
COC_API_TOKEN=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiIsImtpZCI6IjI4YTMxOGY3LTAwMDAtYTFlYi03ZmExLTJjNzQzM2M2Y2NhNSJ9.eyJpc3MiOiJzdXBlcmNlbGwiLCJhdWQiOiJzdXBlcmNlbGw6Z2FtZWFwaSIsImp0aSI6IjRjNzFiMzVlLTY3OTUtNDYzNS05ZDI5LTkxZTM5MzIxYzFlMyIsImlhdCI6MTc3MjczMzY4NSwic3ViIjoiZGV2ZWxvcGVyLzgzM2QyZjkyLTc1NWEtNTkwNS01NjRlLWI2MWE5YjE3Y2JlMyIsInNjb3BlcyI6WyJjbGFzaCJdLCJsaW1pdHMiOlt7InRpZXIiOiJkZXZlbG9wZXIvc2lsdmVyIiwidHlwZSI6InRocm90dGxpbmcifSx7ImNpZHJzIjpbIjgxLjI1NS42Ny4yOCIsIjk0LjIzMS40MS45NCJdLCJ0eXBlIjoiY2xpZW50In1dfQ.iB19T9HtAO3q5mGgxGWBHlIgiVUdm7S-p6wigaGdyfhmppWZy_DL8h7g4E5rDk2M3QvtqTVtI42_l3i6UtmNjA
COC_REFRESH_MINUTES=10